.article-cover {
	background-color: #fff;
	height:100vh;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	.article-cover__paragraph {
		width: 43%;
		h1 {
			font-size: 3.4rem;
			font-weight: bold;
			strong {
				color: $primary-color;
			}
		}
		p {
			font-size: 15px;
			font-weight: 300;
			i {
				font-weight: bold;
			}
		}
	}
	.article-cover__img {
		width:53%;
		display: flex;
		justify-content:flex-end;
		align-items:right;
		position: relative;
		.article-cover__main-img {
			width: 90%;
		}
		.article-cover__second-img {
			position: absolute;
			width:20%;
			bottom: 0;
			left: 10%;
		}
	}
}

.article-wrapper {
	display:grid;
	grid-template-columns: repeat(2 , 1fr);
	grid-gap: 20px;
	.article-item {
		background-color: salmon;
		display: flex;
		flex-direction: row;
		.article-img {
			img {
				width:200px;
				height: 100%;
			}
		}
	}
}
