@media screen and (max-width: 425px) {
  .main {
    position: relative;
    .content-wrapper {
      width: 100vw;
      background-color: #fafafa;
      transition: .3s;
      position: relative;
      .content {
        padding: 12vh 10px 0;
        .title {
          margin-bottom: 30px;
          h1 {
            font-weight: 400;
            font-size: 1.4rem;
            text-transform: capitalize;
            padding-bottom: 0;
            margin-bottom: 0;
          }
          span {
            font-size: 14px;
            color: $text-color;
            font-weight: 300;
            letter-spacing: .5px;
            text-transform: capitalize;
          }
        }
      } 
    }
    
    .dark {
      overflow: hidden;
      position: fixed;
      &::after {
        background-color: rgba(0, 0, 0, 0.355);
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
      }
    }
  }
  .standart {
    .content-wrapper {
      width: 100vw;
      min-height: 100vh;
      padding: 9vh 15px 2vh;
      .content {
        padding: 10px;
        display: flex;
        height: 100%;
        border-radius: 10px;
        flex-direction: column;
        background-color: $light-grey;
        .image-wrapper {
          display: none;
          // background-color: salmon;
        } 
      } 
    }
    .dark {
      overflow: hidden;
      position: fixed;
      &::after {
        background-color: rgba(0, 0, 0, 0.355);
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main {
     .content-wrapper {
      width: 91vw;
      margin-left: 9vw;
      position: relative;
      padding: 10px;
      overflow: hidden;
      background-color: $light-grey;
      .title {
        margin-bottom: 15px;
        h1 {
          font-weight: 400;
          font-size: 1.9rem;
          text-transform: capitalize;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        span {
          font-size: 12px;
          color: $text-color;
          font-weight: 300;
          letter-spacing: .5px;
          text-transform: capitalize;
        }
      }
      .content {
        min-height: 100vh;
        position: relative;
        padding: 15px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        background-color: $white;
      } 
    } 
  }
}
@media screen and (min-width: 1240px) {
  .main {
    .content-wrapper {
      width: 82%;
      margin-left: 18%;
      position: relative;
      overflow: hidden;
      padding: 10px;
      background-color: $white;
      .title {
        margin-bottom: 15px;
        h1 {
          font-weight: 400;
          font-size: 1.9rem;
          text-transform: capitalize;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        span {
          font-size: 12px;
          color: $text-color;
          font-weight: 300;
          letter-spacing: .5px;
          text-transform: capitalize;
        }
      }
      .content {
        border-radius: 10px;
        min-height: 100vh;
        position: relative;
        padding: 15px 15px 20px 15px;
        display: flex;
        flex-direction: column;
      } 
    } 
  }
  .standart {
    .content-wrapper {
      width: 100%;
      background-color: rgba($color: #fff, $alpha: 0.7);
      .content {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .text-wrapper {
          max-width: 55%;
          width: 35%;
          h2 {
            font-size: 2.5rem;
            span {
              color: $primary-color;
            }
          }
        }
        .image-wrapper {
          width: 45%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          #svg-motor {
            position: absolute;
            z-index: 3;
           #Saly-3_2 {
              width: 100%;
              height: 100%;   
            }
            #image0 {
              animation: runMoto .6s linear infinite;
            }
          }
          #svg-tornado {
            position: absolute;
            z-index: 4;
            width: 20%;
            left: -10%;
            margin-top: 15%;
            #Tornado_2 {
              width: 100%;
              height: 100%;
              transform: rotate(-20deg);
              transform-origin: center;
            }
          }
          #svg-snowWindy {
            position: absolute;
            z-index: 5;
            width: 20%;
            max-width: 30%;
            top: 0;
            transform: translate(-350%, -250%);
            #Mid-snow-fast-winds {
              transform-origin: center;
              transform: rotate(150deg);
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .standart {
    .content-wrapper {
      .content {
        .text-wrapper {
          max-width: 45%;
          width: 30%;
          h2 {
            font-size: 3rem;
          }
        }
      }
    }
  } 
}

@keyframes runMoto {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateX(1px);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}