.sale-wrapper {
	width: 100%;
	.sale-banner {
		background-color: $primary-color;
		margin: 10px 0;
		&__text {
			color: $white;
			width: 100%;
			position: relative;
			overflow: hidden;
			padding: 10px;
			text-align: center;
		}
		&__img{
			overflow: hidden;
			position: relative;
			width: 100%;
			text-align: center;
			min-height: 20vh;
			img {
				height: 100%;
				width: 50%;
			}
		}
	}
	.sale-cover {
		width: 100%;
		text-align: center;
		margin: 10px 0;
		&__main {
			display: flex;
			flex-direction: column-reverse;
			width: 100%;
			margin: 10px 0;
			padding: 10px;
			position: relative;
			background: radial-gradient(circle farthest-corner at 50% 5%, #FF6737, #FFAE35 50%);
			background-repeat: no-repeat;
			&-img {
				
				img {
					margin: 10px 0;
					width: 100%;
				}
			}
		}
	}
	.sale-list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
		.sale-item {
			border-radius: 10px;
			background-color: $white;
			box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
			&__img {
				background-color: seagreen;
				width: 100%;
				height: 25vh;
				position: relative;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 10px 10px 0 0;
				}
				span {
					cursor: pointer;
					position: absolute;
					top: 10px;
					right: 10px;
					color: $dark-grey;
				}
			}
			&__content {
				padding: 10px;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.sale-wrapper {
		.sale-banner {
			flex-direction: row;
			padding: 0 8%;
			&__text {
				width: 50%;
				text-align: left;
			}
			&__img {
				width: 50%;
				overflow: initial;
				position: relative;
				min-height: 0;
				z-index: 1;
				&::after {
					content: " ";
					width: 40%;
					bottom: 0;
					right: 0;
					opacity: .5;
					position: absolute;
					height: 70%;
					padding: 20px;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url('../../public/images/iphone.svg');
				}
				img {
					position: absolute;
					bottom: 0;
					left: 20%;
					z-index: 2;
					height: 120%;
					transform: scale(1.7);
				}
			}
		}
		.sale-list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media screen and (min-width: 1024px) {
	.sale-wrapper {
		.sale-cover {
			text-align: initial;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			&__main {
				flex-direction: row;
				align-items: center;
				background: radial-gradient(circle farthest-corner at 100% 50%, #FF6737, #FFAE35 50%);
				&:first-child {
					grid-column-start: 1;
					grid-column-end: 3;
				}
				&-desc {
					width: 40%;
				}
				&-img {
					width: 60%;
					text-align: right;
					img {
						width: 70%;
					}
				}
			}
		}
		.sale-list {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@media screen and (min-width: 1240px) {
	.sale-wrapper {
		.sale-list {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}
