table.tables {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1em .5em;
  // padding: 0 2em 1em 0;
  .bold {
    font-weight: 500;
    font-size: .7em;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  .blur {
    color: $text-color;
  }
  .label-sm {
    padding: 2px 5px;
    border-radius: 3px;
    color: $white;
    font-size: 12px;
    text-transform: lowercase;
    background-color: $danger-color;
  }
  .label-primary {
    background-color: $primary-color;
  }
  .label-danger {
    background-color: $danger-color;
  }
  .label-info {
    background-color: $info-color;
  }

  thead {
    &::after {
      content: ' ';
      position: relative;
      display: block;
      height: 10px;
    }
    tr {
      font-weight: 400;
      font-size: .9rem;
      color: $black;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $blur-color;
      cursor: pointer;
      &:hover {
        background-color: #EFEFEF;
        .blur {
          color: $black;
        }
      }
      td {
        padding: 7px 5px;
        font-weight: 300;
        font-size: .8em;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  
}