@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'variables';
@import 'sidebar';
@import 'content';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}